:root {
  --white-900: #ffffff;
  --black-700: #474747;
  --black-800: #303030;
  --black-900: #191919;
  --black-200: #bababa;
  --black-600: #5e5e5e;
  --black-50: rgba(28, 28, 28, 0.05);
  --background-white: #f4f4f4;
  --purple-700: #6a0bff;
  --purple-800: #5509cc;
  --light-grey-bg: #f8f8f8;
  --white-text: #fff;

  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-bg: 24px;

  --max-width: 1216px;
}
