.header {
  position: relative;
  padding: 8px 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  background-color: var(--white-900);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.logoWrapper {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.logoImg {
  width: 33px;
  height: 33px;
}

.logoTitleImg {
  width: 99px;
  height: 32px;
}

.dropDownBtn {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--black-900);
  margin-left: 1rem;
  cursor: pointer;
}

.dropDownBtn:hover {
  color: var(--purple-800);
}

.arrowImg:hover {
  color: var(--purple-800);
}

.rotated {
  transform: rotate(180deg);
}

.burgerBtn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 101;
}

.burgerLine {
  height: 1.5px;
  background: var(--black-600);
  transition: all 0.3s ease;
}

.btn {
  font-weight: inherit;
  padding: 0.7rem 1.75rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.loginBtn {
  color: var(--purple-700);
  background-color: transparent;
  padding: 0.7rem 1.75rem;
}

.signInBtn {
  color: var(--white-900);
  background-color: var(--purple-700);
}

.authBtn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  padding: 0.7rem;
  background: var(--white-900);
  box-shadow: 0 0 10px -2px rgb(0 0 0 / 12%);
  border: none;
}

@media (max-width: 960px) {
  .burgerBtn {
    display: flex;
  }

  .btnWrapper {
    display: none;
  }
}

@media (max-width: 768px) {
}
