.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contentContainer {
  box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
  background: var(--white-900);

  padding: 1.5rem;
  border-radius: 24px;
}

.contentWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: var(--font-size-bg);
  color: var(--black-800);
  margin: 0 0 0.75rem;
}

.img {
  width: 160px;
  height: 160px;
}

.navBtn {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  gap: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-base);
  color: var(--black-800);
  background: transparent;
}

.answerTitle {
  font-weight: 500;
  font-size: 20px;
  color: var(--black-800);
  margin-top: 0;
}

.answerBody {
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: 130%;
  color: var(--black-800);
}
