.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.25rem;
  width: 60%;
}

.contentContainer {
  box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
  background: var(--white-900);
  padding: 1.5rem;
  border-radius: 24px;
}

.contentWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.topBlock {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: clamp(20px, 4vw, var(--font-size-bg));
  color: var(--black-800);
  margin: 0 0 0.75rem;
}

.toggleBtn {
  align-self: flex-start;
  border: 1px solid var(--black-200);
  border-radius: 8px;
  padding: 5px 5px 1px;
  background: transparent;
  cursor: pointer;
}

.img {
  width: 160px;
  height: 160px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navBtn {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  gap: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-base);
  color: var(--black-800);
  background: transparent;
}

.answerTitle {
  font-weight: 500;
  font-size: 20px;
  color: var(--black-800);
  margin-top: 0;
}

.answerBody {
  font-weight: 500;
  font-size: clamp(var(--font-size-sm), 1.5vw, var(--font-size-base));
  line-height: 130%;
  color: var(--black-800);
}

@media (max-width: 500px) {
  .contentWrapper {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: 100%;
  }
}
