.questionsContainer {
  flex: 1;
  border-radius: 1.5rem;
  padding: 1.5rem 1.25rem 2.5rem;
  box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
  background: var(--white-900);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.questionsTitle {
  font-weight: 500;
  font-size: var(--font-size-bg);
  color: var(--black-900);
  border-bottom: 0.5px solid var(--black-50);
  margin: 0;
  padding: 0 0 1rem;
}

.toggleBtn {
  align-self: flex-start;
  border: 1px solid var(--black-200);
  border-radius: 8px;
  padding: 5px 5px 1px;
  background: transparent;
  cursor: pointer;
}

.skeletonTitle {
  width: 18rem;
  height: 2rem;
  background: #e8e8e8;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeletonButton {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background: #e8e8e8;
  animation: pulse 1.5s infinite;
  flex-shrink: 0;
}

.skeletonPagination {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 18rem;
  background: #e8e8e8;
  border-radius: 8px;
  margin: 0 auto;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
