.accordionItem {
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 10px 0 #6a63761a;
  border-radius: 8px;
}

.accordionBtn {
  width: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.accordionTitleWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: var(--white-900);
}

.accordionTitle {
  flex: 1;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: var(--black-900);
}

.rotated {
  transform: rotate(-180deg);
}

.accordionBody {
  margin: 1.5rem 0 0;
}

.hidden {
  display: none;
  overflow: hidden;
}

.accordionEvalContainer {
  display: flex;
  gap: 2.5rem;
}

.questionImg {
  margin: 1.5rem 0;
}

.accordionText {
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--black-700);
}

.accordionLink {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-base);
  color: var(--purple-700);
  text-decoration: none;
}
